* {
  margin: 0;
  padding: 0;
  max-width: 1140px;
}

body {
  background-color: #f7b094;
  font-family: Roboto;
  max-width: 1140px;
}

/* top */
header {
  align-items: center;
  background-color: #f7b094;
  display: inline-block;
  width: 1140px;
  height: 134px;
}

/* logo */
header svg {
  display: inline-block;
  height: 85.54px;
  margin-left: 29px;
  margin-top: 29px;
  width: 160px;
}

/* form search */
header form {
  display: inline-block;
  margin-left: 68px;
  margin-top: 46px;
  position: absolute;
  width: 651px;
}

header form input {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  color: #aaa;
  display: inline-block;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  height: 52px;
  padding: 0 0 0 17px;
  position: absolute;
  text-decoration: none;
  width: 651px;
}

header form .button {
  color: #345c7d;
  cursor: pointer;
  float: right;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 48px;
  line-height: 16px;
  margin-left: 569px;
  margin-top: 2px;
  padding: 0 10px 0 0;
  position: absolute;
  width: 80px;
}

header form input:disabled:hover {
  color: red;
}

/* button icon */
header .btn {
  display: inline-block;
  margin-left: 719px;
  min-height: 134px;
  position: absolute;
  width: 232px;
}

header .btn .icon-user {
  background-color: #f5717f;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 42px;
  margin-bottom: 3px;
  margin-left: 55px;
  margin-top: 45px;
  position: absolute;
  text-align: center;
  width: 42px;
}

header .btn .icon-user img {
  margin-top: 10px;
  width: 15px;
}

header .btn .icon-text-user {
  color: #fff;
  display: inline-block;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  height: 12px;
  letter-spacing: 0;
  line-height: 12px;
  margin-left: 42px;
  margin-top: 89px;
  position: absolute;
  text-align: left;
}

header .btn .icon-cart {
  background-color: #f5717f;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 42px;
  margin-bottom: 3px;
  margin-left: 137px;
  margin-top: 43px;
  position: absolute;
  text-align: center;
  width: 42px;
}

header .btn .icon-cart img {
  margin-top: 9px;
}

header .btn .icon-text-cart {
  color: #fff;
  display: inline-block;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  height: 12px;
  letter-spacing: 0;
  line-height: 12px;
  margin-left: 133px;
  margin-top: 89px;
  position: absolute;
  text-align: left;
  width: 75px;
}

/* menu */
menu {
  background-color: #f5717f;
  color: #fff;
  margin-top: 15px;
  max-width: 1140px;
  max-height: 52px;
}

menu > li {
  font-family: Roboto;
  display: inline-block;
  margin: 18px 30px 16px 39px;
}

menu > li > a {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  width: 80px;
}

menu > li > a:hover {
  color: #345c7d;
}

/* carousel */
.carousel {
  height: 400px;
  text-align: center;
  max-width: 1140px;
  background-color: #f1f1f1;
}

.carousel .slider {
  height: 400px;
  max-width: 93%;
  min-width: 94%;
  margin-left: 30px;
  margin-top: 0;
  text-align: center;
  width: 890px;
}

.carousel .slider .image-carousel {
  /* position: absolute; */
  height: 380vh;
  max-height: 380px;
  margin-top: 10px;
}

.carousel li {
  align-items: center;
  color: #fff;
  display: inline-block;
  font-size: 50px;
  margin-top: -45px;
  max-height: 45px;
  text-align: center;
}

/* main content */
main {
  margin: 0;
  max-width: 1140px;
  padding: 0 10px 46px 30px;
}

main h1 {
  color: #fff;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: 26px;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
}

main span {
  color: #345c7d;
  text-decoration: underline;
  text-decoration-color: #f5717f;
}

/* card */
main .card {
  background-color: #fff;
  display: inline-block;
  height: 387px;
  margin: 0 19px 17px 0;
  width: 256px;
}

main .card .image-card {
  background-color: #f1f1f1;
  height: 190px;
  width: 256px;
}

main .card a {
  text-decoration: none;
}

main .card .title {
  color: #345c7d;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 15px;
  margin-top: 20px;
  text-align: left;
}

main .card .price {
  color: #bf6b84;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  margin-left: 15px;
  margin-top: 10px;
}

main .card .rating {
  cursor: pointer;
  margin-top: 21px;
  text-align: center;
}

main .card button {
  background-color: #ff8a00;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 4px 10px #ffad4d;
  cursor: pointer;
  height: 46px;
  margin: 25px 0 0 14px;
  width: 227px;
}

main .card button img {
  border: none;
  float: left;
  height: 21px;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-top: 11px;
  width: 20px;
}

main .card button p {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-left: 30px;
  margin-top: 14px;
  width: 192px;
}

footer {
  background-color: #f5717f;
  position: absolute;
  text-align: center;
  width: 1140px;
}

footer .newsletter {
  margin-top: 0;
  max-height: 187px;
}

footer .newsletter h2 {
  color: #fff;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  line-height: 100%;
  margin-top: 20px;
  text-transform: uppercase;
}

footer .newsletter p {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  line-height: 100%;
  margin-bottom: 25px;
  margin-top: 3px;
  vertical-align: top;
}

/* form newsletter */
footer form input {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  color: #aaa;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  height: 52px;
  line-height: 16px;
  margin-bottom: 35px;
  padding: 0 0 0 17px;
  text-decoration: none;
  width: 651px;
}

footer form .btn {
  color: #345c7d;
  cursor: pointer;
  float: right;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 48px;
  line-height: 16px;
  margin-left: 539px;
  margin-top: 2px;
  padding: 0 10px 0 5px;
  position: absolute;
  width: 110px;
}

footer .sociais {
  background-color: #f1f1f1;
  height: 275px;
  max-height: 275px;
  padding: 10px 0 0;
}

footer .sociais h2 {
  color: #345c7d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-top: 25px;
  padding: 5px 0 0;
  text-transform: uppercase;
}

footer .sociais .icons-sociais img {
  margin-left: 3px;
  margin-top: 10px;
  width: 50px;
}

footer .extra-menu {
  padding: 20px 0 15px;
}

footer .extra-menu a {
  color: #345c7d;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-left: 65px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

footer .extra-menu a:hover {
  text-decoration: underline;
}

footer .sociais .cards {
  margin-bottom: 30px;
  width: 250px;
}

footer .info {
  background-color: #fff;
  height: 143px;
  position: absolute;
  text-align: center;
  width: 1140px;
}

footer .info a {
  color: #aaa;
  text-decoration: none;
}

footer .info a:hover {
  color: #f5717f;
  text-decoration: underline;
}

footer .info .topo {
  color: #aaa;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  height: 20px;
  line-height: 14px;
  margin-bottom: 20px;
  margin-top: 23px;
  text-align: center;
}

footer .info .bottom {
  margin-left: 190px;
  width: 750px;
}

footer .info .bottom p {
  color: #aaa;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  line-height: 14px;
  line-height: 100%;
  padding: 5px 0;
}
