<div class="content" role="main">
  <div class="text-muted">
    <h3>Editar Colaborador!</h3>
  </div>
</div>
<form class="row g-3">
  <div class="col-md-11">
    <label for="inputId" class="form-label">ID</label>
    <input type="text" class="form-control" id="inputId" placeholder="123">
  </div>
  <div class="col-11">
    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="inputNome" placeholder="Diego Serafim">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="name@example.com">
  </div>
  <div class="col-md-5">
    <label for="inputPassword4" class="form-label">Senha</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-11">
    <label for="inputIdade" class="form-label">Idade</label>
    <input type="text" class="form-control" id="inputIdade" placeholder="34">
  </div>
  <div class="mb-3 col-md-11">
    <label for="formFile" class="form-label">Foto</label>
    <input class="form-control" type="file" id="formFile">
  </div>
  <div class="col-md-2">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">Ativo</label>
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">Inativo</label>
    </div>
  </div>
  <div class="col-md-6">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Departamento</option>
      <option value="1">FINANCEIRO</option>
      <option value="2">ADMINISTRAÇÃO</option>
      <option value="3">DIREÇÃO</option>
      <option value="4">OPERACIONAL</option>
      <option value="5">INFRAESTRUTURA</option>
      <option value="6">DESENVOLVIMENTO</option>
      <option value="7">COMERCIAL</option>
    </select>
  </div>
  <div class="col-md-5">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Grupos</option>
      <option value="1">CLT</option>
      <option value="2">PJ</option>
      <option value="3">Freelancer</option>
      <option value="4">Parceiros</option>
      <option value="5">Outros</option>
    </select>
  </div>
  <div class="col-11">
    <label for="inputSocial1" class="form-label">Redes Sociais</label>
    <input type="text" class="form-control" id="inputSocial1" placeholder="Linkedin ou qualquer outros">
  </div>
  <div class="col-11">
    <label for="inputSocial2" class="form-label">Redes Sociais</label>
    <input type="text" class="form-control" id="inputSocial2" placeholder="Faceboo ou qualquer outros">
  </div>
  <div class="form-floating col-md-11">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
    <label for="floatingTextarea">Descrição do Perfil</label>
  </div>
  <div class="col-md-11">
    <label for="formArquivo" class="form-label">documentos e outros</label>
    <input class="form-control" type="file" id="formArquivo">
  </div>  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Editar</button>
  </div>
</form>